.hero{
  @include padding-top(1);
  @include padding-bottom(6);
  background: #00274c url(/assets/images/HERO.png);
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  header{
    .logo{
      img{height: 75px;}
    }
  }
  .text{
    @include margin-top(3);
    .slogan{
      font-family: $emphasis-font-family;
      @include font-size(4);
    }
    .tagline{
      font-weight: 500;
      @include font-size(1.2);
    }
  }
}
