/**
 *
 * =======================================================================
   Font Sizes
 * =======================================================================
 */

$one-rem:18; //base-font-size in px
$base-font-size: ($one-rem / 16); //base font size in proportion to default browser font size
$base-line-height:1.90; //165%;

// Typographic scale
$h1-font-size:1.6180;
$h2-font-size:1.4382;
$h3-font-size:1.2222;
$h4-font-size:1.1111;

//Extra large font (used mostly for extra large icons)
$extra-large-font-size:5;

//Forms
$form-help-text-font-size: 0.850;
$form-legend-font-size: 1.2222;

//Badges
$badge-font-size:0.850;
/**
 *
 * =======================================================================
   Colors
 * =======================================================================
 */

//Primary colors. Mostly applied in buttons
$primary-color: purple;
$secondary-color: #e68968;
$special-color: #e07477;
$accent-color: #667780;

//Institution specific colors. Each institution can customize their colors here.
$institution-primary-color: rgba(32,26,22,.9);
$institution-secondary-color: #ffde03;

//Font colors
$header-font-color:#222; // Default color applied to all headers
$h1-font-color: #222; //h1 font color overrides default header color
$h4-font-color: #666; //h1 font color overrides default header color
$base-font-color:#333;
$secondary-font-color: #666;
$small-font-color: #555;
$link-font-color: #0362cf;
$link-hover-color: $primary-color;
$success-font-color: green;
$error-font-color: #de1a0c;
$feedback-block-font-color: #484848;
$badge-font-color: #ffffff;
$badge-link-hover-font-color:$secondary-color;

// Background colors
$neutral-background-color:#f2f2f2; //gray background
$special-background-color:#D7E5F1; //light blue background
$success-background-color:#d4ece6; //light green background color for success feedback blocks
$error-background-color:#f8d0c8; //light red background color for error feedback blocks
$info-background-color:#ffeebf; //yellow background color for info feedback blocks
$badge-background-color: $success-font-color; //green background color for badges
$menu-badge-background-color: $success-font-color; //background color for menu badges
$field-background-color: #fff; //field background color
$check-radio-background-color: $neutral-background-color; // Background color for checkboxes and radio buttons
$message-background-color:$neutral-background-color; //message background color
$message-background-color-alternate:$special-background-color;

// Border colors
$border-color:#ccc;
$form-field-border-color:#999;
$form-field-focus-border-color:$primary-color;

//Overlay colors
$overlay-color:rgba(89, 141, 204, 0.95);

//Label colors for when you have various colored labels
$label-color-1:#795548;
$label-color-2:#0091EA;
$label-color-3:#00897B;
$label-color-4:#3F51B5;
$label-color-5:#D500F9;
$label-color-6:#8BC34A;
$label-color-7:#D9B51C;
$label-color-8:#607D8B;
$label-color-9:#FF80CE;
$label-color-10:#4d4d4d;

/**
 *
 * =======================================================================
   Font families
 * =======================================================================
 */
$primary-font-family: "Muli",Arial,sans-serif;
$header-font-family:  "Playfair Display",Arial,sans-serif;
$button-font-family:  "Muli",Arial,sans-serif;
$emphasis-font-family:  "Caveat",Arial,sans-serif;


// Border radius
$border-radius: 20px;
$card-border-radius: 2px;

/**
 *
 * =======================================================================
   IMAGE PATHS & FILENAMES
 * =======================================================================
 */
// Defined in theme files

//****** Logos ******//
$logo-small-filename: "";
$logo-filename: "";
$department-logo-filename:"";
$institution-logo-filename:"";

//****** Victor section on homepage ******//
// There must be 8 rotating images. The files must be named "1.jpg", "2.jpg", all the way up to "8.jpg". If you want to choose images other than the default ones, you can specify the path where your images are stored via this variable.
$victor-section-images-path: "../../../common-assets/images/victor-images";

//****** Highlighted Searches on homepage ******//
$highlighted-searches-images-path: "../../../common-assets/images/canned-queries";

/**
 *
 * =======================================================================
   Responsive Breakpoints (Min. widths)
 * =======================================================================
 */
$sm-screen-breakpoint: 17.777em;
$md-screen-breakpoint: 42.666em;
$lg-screen-breakpoint: 56.888em;
$xl-screen-breakpoint: 71.111em;
